.card__container {
  padding: 25px 20.5px 25px 21.5px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
