.profile__wrapper {
    cursor: pointer;
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 120px;
}
.profile__wrapper:hover .profile__avatar-edit {
    opacity: 1;
}